<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Update Student</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

<h1>Update Student</h1>

<form method="POST">

<label>Name</label>

<input
type="text"
name="name"
value="{{ student['name'] }}"
required>

<label>Age</label>

<input
type="number"
name="age"
value="{{ student['age'] }}"
required>

<label>Course</label>

<input
type="text"
name="course"
value="{{ student['course'] }}"
required>

<label>City</label>

<input
type="text"
name="city"
value="{{ student['city'] }}"
required>

<button type="submit">

Update Student

</button>

</form>

<br>

<a href="{{ url_for('view_students') }}">

Back

</a>

</div>

</body>

</html>